doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    script.
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          var forms = document.getElementsByClassName('needs-validation');
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();

    title Student Database

  body#page-top.fixed-nav.sticky-footer
    include includes/navbar.pug
    .content-wrapper
      .container
        .card.mb-3
          .card-header
            i.fa.fa-check-square-o
            |  Input New Student
          .card-body
            form.needs-validation(action='/students/input-student', method='POST', novalidate='')
              .row.form-group
                .col-4
                  label(for='student_id') Student ID:
                .col-6
                  input.form-control(type='text', name='student_id', placeholder='Input Student ID', required='')
                  .invalid-feedback
                    | Please enter student id
              .row.form-group
                .col-4
                  label(for='admission_date') Admission Date:
                .col-6
                  input.form-control(type='date', name='admission_date', placeholder='dd/mm/yyyy', required='')
                  .invalid-feedback
                    | Please enter admission date
              .row.form-group
                .col-4
                  label(for='name') Name:
                .col-6
                  input.form-control(type='text', name='name', placeholder='Input Name', required='')
                  .invalid-feedback
                    | Please enter your name
              .row.form-group
                .col-4
                  label(for='address') Address:
                .col-6
                  input.form-control(type='text', name='address', placeholder='Input Address', required='')
                  .invalid-feedback
                    | Please enter your address
              .row.form-group
                .col-4
                  label(for='date_of_birth') Date of Birth:
                .col-6
                  input.form-control(type='date', name='date_of_birth', placeholder='dd/mm/yyyy', required='', onkeyup="ValidDoB()")
                  .invalid-feedback
                    | Please enter your date of birth
              .row.form-group
                .col-4
                  label(for='gender') Gender:
                .col-6
                  .radio
                    label
                      input(type='radio', name='gender', value='F')
                      |  Female
                  .radio
                    label
                      input(type='radio', name='gender', value='M')
                      |  Male
              .row.form-group
                .col-4
                  label(for='major') Major:
                .col-6
                  input.form-control(type='text', name='major', placeholder='Input Major', required='')
                  .invalid-feedback
                    | Please enter your major
              .row.form-group
                .col-4
                  label(for='student_email') Student Email:
                .col-6
                  input.form-control(type='email', name='student_email', placeholder='Input Student Email', required='')
                  .invalid-feedback
                    | Please enter a valid student email
              input.btn.btn-primary(type='submit', value='Submit')
